<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art with Drones</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="top-bar">
        <h1>ART WITH DRONES</h1>
    </div>

    <div id="drone-positions-table"></div>
    <div id="drone-map" class="drone-map"></div>

    <div id="weather-input" class="black-container">
        <input type="text" id="city-name" placeholder="Ingrese nombre de ciudad" class="orange-background">
        <button class="orange-button" onclick="getWeather(document.getElementById('city-name').value)">Obtener Clima</button>
        <!-- Contenedor para mostrar los resultados del clima -->
        <div id="weather-result"></div>
    </div>

    <div id="drone-list-section">
        <h2>Drones</h2>
        <ul id="drone-list">
            <!-- Aquí se agregarán los drones -->
        </ul>
        <button id="add-drone-btn" onclick="addDrone()">Añadir</button>
        <button id="del-drone-btn" onclick="delDrone()">Borrar</button>
        <button id="del-drone-btn" onclick="delSelectedDrones()">Borrar Seleccionados</button>
        <button id="add-drone-btn">Unir Drones al Show</button>
    </div>

    <div id="log-auditoria" class="audit-container">
        <table>
            <thead>
                <tr>
                    <th>Eventos de Auditoría de Drones</th>
                    <th>Eventos de Auditoría del Motor</th>
                    <th>
                        Auditoría Mensajes Cifrados
                        <button onclick="makeEncryptedAuditVisible()">Hacer visible</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul id="lista-auditoria"></ul>
                    </td>
                    <td>
                        <ul id="lista-auditoria-engine"></ul>
                    </td>
                    <td id="encrypted-audit" style="display: none;">
                        <ul id="lista-auditoria-cifrada"></ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="../static/js/scripts.js"></script>
</body>
</html>
