<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art with Drones</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="top-bar">
        <h1>ART WITH DRONES</h1>
    </div>

    <nav>
        <button class="dropdown-btn" onclick="toggleDropdown()">
            <svg class="burger-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
            </svg>
            MENÚ
        </button>
        <ul id="dropdown-menu">
            <li><a href="/mapa">MAPA</a></li>
            <li><a href="/registro">REGISTRO</a></li>
            <li><a href="/errores">ERRORES</a></li>
        </ul>
    </nav>

    <div id="drone-map"></div>

    <div id="weather-input" class="black-container">
        <input type="text" id="city-name" placeholder="Ingrese nombre de ciudad" class="orange-background">
        <button class="orange-button" onclick="getWeather(document.getElementById('city-name').value)">Obtener Clima</button>
    </div>

    <div id="drone-list-section">
        <h2>Drones</h2>
        <ul id="drone-list">
            <!-- Aquí se agregarán los drones -->
        </ul>
        <button id="add-drone-btn" onclick="addDrone()">Añadir</button>
        <button id="del-drone-btn" onclick="delDrone()">Borrar</button>
    </div>

    <script src="../static/js/scripts.js"></script>
</body>
</html>
